@{
    ViewData["Title"] = "Home Page";
}
<div class="container card center">
    <h1>Wonder Word</h1>
    <form action="/word-counter">
        <button type="submit" name="button">Count my words!</button>
    </form>
</div>