@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron center"></div>
<div class="container card center">
    <img class="w center" src="/images/Wlogo.png" />
    <h1>Wonder Word</h1>
    <h2>Here to save the day, one word at a time.</h2>
    <form action="/word-counter">
        <button type="submit" name="button">Count my words!</button>
    </form>
</div>