@{
    ViewData["Title"] = "Home Page";
}

<div class="container center">
    <img class="w center" src="/images/Wlogo.png" />
    <h1>Wonder Word</h1>

        <button type="submit" name="button" class="btn"><a href="/word-counter">Play</a></button>
</div>
