body {
    background: url('/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Comfortaa', cursive;
    font-style: italic;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #5AB8EA;
}

h1 {
    font-size: 100px;
    font-family: 'Bangers', cursive;
    color: #FDF250;
}

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.container {
    margin-top: 20px;
}

.card {
    background-color: white;
    border-color: white;
    border-style: none;
    padding: 20px;
    text-align: center;
}

.jumbotron {
    background-image: url('/images/jumbotron.jpg');
    background-repeat: repeat;
    background-color: white;
    float:  none;
    padding: 125px;
    margin-top: -50px;
    text-align: center;
}

.w {
    width: 30%;
}

.btn {
    border-color: #F3C54A;
    background-color: #6192AC;
    font-size: 30px;
    font-family: 'Bangers', cursive;
    color: #F3C54A;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

input[type="text"] {
    width: 200px;
    background-color: #F8F5BA;
}

.boom {
    width: 40%
}

.number {
    color: #EA3322;
    font-size: 80px;
    /*margin-top: -190px;*/

    font-family: 'Bangers', cursive;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container {
    margin-top: -30px;
    position: relative;
    text-align: center;
    color: white;
}