
body {
    font-family: "Comic Sans MS", cursive, sans-serif
}

h1 {
    font-family: 'Bangers', cursive;
}

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
}

.card {
    background-color: white;
    border-color: white;
    border-style: none;
    padding: 20px;
    text-align: center;
}

.jumbotron {
    background-image: url('/images/jumbotron.jpg');
    background-repeat: repeat;
    background-color: white;
    float:  none;
    padding: 125px;
    margin-top: -50px;
    text-align: center;
}

.w {
    width: 30%;
}