@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Word Counter</h1>
<form action="/word-counter/result">
    <div class="form-group">
        <label for="text-box">Enter a sentence or paragraph to check!</label>
        <textarea class="form-control" id="text-box" rows="3"></textarea>
        <button class="btn btn-info" type="submit" name="button">Count Words</button>
    </div>
</form>