@*
  
*@
@{
}

<div class="container center">
    <img class="w center" src="/images/Wlogo.png" />
    <h1>"@Model.GetWord()" appears</h1>
    <div class="image-container">
        <img class="boom" src="/images/boom.png" />
        <div class="centered number">@Model.CountOccurrences()x!</div>
    </div>

    <form action="/">
        <button type="submit" name="button" class="btn">Count another word!</button>
    </form>
</div>
